# tmp files
*~
.~*
*.o
*.obj
*.mp4
*.temp
*.tmp
*.swp
*.db
*.log
.installed.cfg
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
*.cover
.hypothesis/
*.mo
*.pot
db.sqlite3
.webassets-cache
*.pid
*.seed
*.pid.lock

./image

application-dev.yml

# python
*.pyc
*.scrapy
.ipynb_checkpoints
celerybeat-schedule
.pytest_cache/
*.egg
pip-log.txt
pip-delete-this-directory.txt
eggs/
.eggs/
*.egg-info/


# os files
.DS_Store


# tool files
*.iml
.idea
.grunt
.npm
.next
.nuxt
.m2
.mvn

# target files
*.class
target
out
*.gz
*.tar
*.zip
*.jar

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.box
*.vbox
*.vdi


# Obj-C/Swift specific
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM